$mobile: 568px;
$tablet: 768px;
$desktop: 1024px;
$breakpoints: (
  'sm': (
    min-width: $mobile,
  ),
  'md': (
    min-width: $tablet,
  ),
  'lg': (
    min-width: $desktop,
  ),
);

@for $i from 0 through 30 {
  .gap-#{$i} {
    gap: $i * 4px;
  }
}

@for $i from 0 through 30 {
  .ma-#{$i} {
    margin: $i * 4px;
  }
  .mx-#{$i} {
    margin-left: $i * 4px;
    margin-right: $i * 4px;
  }
  .my-#{$i} {
    margin-top: $i * 4px;
    margin-bottom: $i * 4px;
  }
  .ml-#{$i} {
    margin-left: $i * 4px;
  }
  .mt-#{$i} {
    margin-top: $i * 4px;
  }
  .mr-#{$i} {
    margin-right: $i * 4px;
  }
  .mb-#{$i} {
    margin-bottom: $i * 4px;
  }
  .pa-#{$i} {
    padding: $i * 4px;
  }
  .px-#{$i} {
    padding-left: $i * 4px;
    padding-right: $i * 4px;
  }
  .py-#{$i} {
    padding-top: $i * 4px;
    padding-bottom: $i * 4px;
  }
  .pl-#{$i} {
    padding-left: $i * 4px;
  }
  .pt-#{$i} {
    padding-top: $i * 4px;
  }
  .pr-#{$i} {
    padding-right: $i * 4px;
  }
  .pb-#{$i} {
    padding-bottom: $i * 4px;
  }
}
